<footer class="app-footer">
  <span><a href="http://www.ajw-group.com">AJW Group</a> &copy; 2018 Digital Engineering</span>
  <!-- <span class="ml-auto">Powered by <a href="http://www.ajw-group.com">AJW Group</a></span> -->
</footer>
