<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">AJW Digital Services</div>
        <div class="card-body">
          AJW Group Hello World! The quick brown fox jumps over the lazy dog.
          <br>
          AJW GROUP HELLO WORLD! THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG.
        </div>
      </div>
    </div>
  </div>
</div>
